@charset "utf-8";
/*CSS Document*/
*{ 
    margin: 0px;
    padding: 0px;
}
h1 {
    color:blueviolet;
    font-size: 30px;
}   
h2 {
    color: violet;
    font-size: 15px;
}
.parrafointroductorio p {
    color: blueviolet;
    font-size: 20px;
}
.portfolio h2 {
    color: blue;
    font-size: 30px; 
}
.portfolio h3 {
    color: blue;
    font-size: 20px;
}
.portfolio p {
    color: red;
    font-size: 10px;
}
.imagen {
    width: 180px;
    height: 300px; 
}
.caja {
    width: 1800px;
    height: 320px;
    background-color: pink;
    padding: 20px;
    margin: 10px;
}